/* global style */
:root {
    --main-site-color: #343434;
    --main-transision: .3s;
}

body{
    font-family:"Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Montserrat", sans-serif ;
}

.heading h3{
    color: var(--main-site-color);
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 4;
    display: inline-block;
}

.heading h3::after{
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../imags/imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.container{
    width: 80%;
}
/*  */

/* start home */

.home{
    background-image:linear-gradient(#00000099 , rgba(0,0,0,0.6)) , url(../imags/imgs/bg.jpg);
    background-size: cover;
}

.home .caption h5{
    font-weight: 800;
    font-size: 50px;
}

.home .caption h2{
    font-family:"Montserrat", sans-serif ;
    font-weight: 200;
    font-size: 60px;
}

.home span::after{
    content: "|";
    animation-name: type-writer;
    animation-duration: 5s;
    animation-iteration-count:infinite ;
    font-weight: 400;
    font-size: 60px;
}

.home .icon-home li{
    background-color: rgba(0,0,0,0.5);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.home .icon-home li i{
    font-size: 15px;
}
/* end home */

/* start of nav */

.navbar{
    padding: 15px 0;
}

.navbar-brand{
    font-weight: 800;
    font-size: 20px;
}

.navbar .nav-link{
    color: black;
}

.navbar .navbar-nav > li > a{
    font-size: 15px;
    font-weight: 400;
}

/* end of nav */

/* start about*/

.about{
    padding: 4rem 0;
}

.heading-about h2{
    font-weight: 800;
    font-size: 30px;
    color: var(--main-site-color);
}

.heading-about span{
    font-weight: 400;
    font-size: 14px;
    color:  rgb(153, 153, 153);
    letter-spacing: 2px;
    display: inline-block;
}

.heading-about p{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    Color:rgb(116, 129, 130);
    line-height: 1.6;
    max-width: 700px;
}

.heading-about p span{
    font-weight: 800;
    color:  rgb(116, 129, 130);
}

.skills .progress{
    border-radius: 5px;
    height: 25px;
}

.about .skills .progress-bar{
    background-color: #1C1C1C;
}

.about .about-img::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-image: url(../imags/imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.about .heading-about .btn-1{
    background-color: #1C1C1C;
    color: rgb(199, 199, 199);
    margin-top: 40px;
}
.about .heading-about .btn-1:hover{
    background-color: rgb(255, 255, 255);
    color: #1C1C1C;
    border: 1px solid black;
    transition: all var(--main-transision);
}

.about .heading-about .btn-2{
    background-color: rgb(255, 255, 255);
    color: #1C1C1C;
    border: 1px solid black;
    margin-top: 40px;
}

.about .heading-about .btn-2:hover{
    background-color: #1C1C1C;
    color: rgb(199, 199, 199);
    transition: all var(--main-transision);
}
/* end about */

/* start serves */

.service{
    background-color: #F7F7F7;
}

.service .heading-2 h4{
    font-weight: 800;
    font-size: 18px;
    color: rgb(52, 52, 52);
}

.service .heading-2 p{
    font-weight: 400;
    font-size: 14px;
    color:  rgb(116, 129, 130);
}

.icone i{
    padding: 25px;
    border-radius: 50%;
    transition: all .5s;
    background-color: #F7F7F7;
}

.item:hover i{
    background-color: black;
    color: #ffffff;
}
/* end serves */

/* start of portfolio  */

.portfolio .nav-tabs {
    border-bottom: 0;
}
.portfolio .nav-tabs .nav-link {
    position: relative;
    border: 0;
    color: black;
}
.portfolio .nav-tabs .nav-link::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #111;
    position: absolute;
    left: 12px;
    bottom: -1px;
}
.portfolio .nav-tabs .nav-link.active::before {
    width: 70%;
}

.portfolio span{
    font-weight: 700;
    font-size: 16px;
    color:  rgb(34, 34, 34);
}

.portfolio .item:hover .headers {
    top: 50%;
}
.portfolio .item .headers {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all var(--main-transision) ease;
    z-index: 1;
}

.headers h6{
    font-weight: 700;
    font-size: 12px;
    color: rgb(52, 52, 52);
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.portfolio .icon-portfolio i{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    transition: all var(--main-transision);
}

.portfolio .icon-portfolio i:hover{
background-color: #ffffff;
border: solid 1PX black;
color: #111;
}

.portfolio .item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(255,255,255,0.95);
    transition: all 0.5s;
}

.portfolio .item:hover::after {
    top: 5px;
}
/* end of portfolio  */

/* start of slider  */

.client{
    background-color: #F7F7F7;
}

.client .slider-p{
    max-width: 500px;
    margin: 0 auto;
}

.client .caracoul-p{
    max-width: 450px;
    text-align: center;
}

.client .slider i{
    font-size: 40px;
    color: var(--main-site-color);
}

.client .slider p{
    max-width: 900px;
    text-align: center;
}

.client .slider h6{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
}

.client .slider span{
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}

.client .slider img{
    border-radius: 50%;
    width: 90px;
}

.client .carousel-indicators [data-bs-target]{
    background-color: #787878;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    transition: all var(--main-transision);
}

.client .carousel-indicators [data-bs-target]:hover{
    background-color: #000000;
}
/* end of slider   */

/* start section 5 */

.sec-5{
    padding: 4rem 0;
}

.sec-5 .ineer h4{
    font-weight: 800;
    font-size: 30px;
}
.sec-5 .ineer p{
    font-weight: 600; 
    font-size: 16px;
    Color:rgb(116, 129, 130);
}

/* end section 5 */

/* start of team  */
.team{
    background-color: #F7F7F7;
}

.team .text-team{
    background-color: #5B5B5B;
}

.team .item-team .img-team img{
    transition: all var(--main-transision);
}

.team .item-team .img-team:hover img{
    transform: scale(1.2);
}

.team .item-team .social{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    transition: all .7s;
}

.team .item-team:hover .social{
    transform: rotateY(360deg);
    opacity: 1;
}

.team .item-team .social i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    cursor: pointer;
    transition: all var(--main-transision);
}

.team .item-team .social i:hover{
    background-color: #ffffff;
border: solid 1PX black;
color: #111;
}

/*  end of team  */

/* start of contact */
.contact h6{
    font-weight: 700;
    font-size: 16px;
    Color:rgb(52, 52, 52);
}

.contact p{
    font-weight: 400;
    font-size: 15px;
    Color: rgb(116, 129, 130);
}

.contact .item-contact i{
    padding: 20px;
    border-radius: 50%;
    transition: all .5s;
    background-color: #F7F7F7;
}

.item-contact:hover i{
    background-color: black;
    color: #ffffff;
}

.contact input{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.contact textarea{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.contact form button{
    padding: 10px 40px;
    background-color: #111;
    color: white;
    border-radius: 5px;
    transition: all var(--main-transision);
}
.contact form button:hover{
    background-color:white;
    color: black;
    border: solid 1px black;
}

/* end of contact */

/* start footar */
.footar{
    background-color: #1C1C1C;
}

.footar p{
    font-weight: 400;
    font-size: 13px;
    color: rgb(116, 129, 130);
}
/* end footar */

@media screen and (min-width: 992px) {

    .navbar-nav .nav-link{
        position: relative;
    }
    
    .navbar-nav .nav-link::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #111;
        bottom: 0;
        left: 5px;
        transition: all var(--main-transision);
    }
    
    .navbar-nav .nav-link.active::after{
        width: 80%;
    }
}